h1 {
    color: white;
    background-color: black;
    font-family: cursive
}
h2 {
    text-align: center;
    background-color: blueviolet;
    font-style: italic;
    font-family: cursive;
}
h3 {
    text-align: right;
    color: blue;
    background-color: aqua;
    text-decoration: underline;
    font-family: cursive;
}